<div class="row m-0 p-0 col-12 col-sm-12">
  <div class="row m-0 mt-3 p-0 col-12 col-sm-12">
    <div class="col-6 col-sm-6">
      <label class="col-12 col-sm-12 control-label text-danger">نام انبار</label>
      <div class="col-12 col-sm-12">
        <input type="text" class="form-control" [(ngModel)]="warehouse.name">
      </div>
    </div>
<!--    <div class="col-6 col-sm-6">-->
<!--      <label class="col-12 col-sm-12 control-label text-danger">ظرفیت</label>-->
<!--      <div class="col-12 col-sm-12">-->
<!--        <input type="text" class="form-control" [(ngModel)]="warehouse.capacity">-->
<!--      </div>-->
<!--    </div>-->
    <div class="col-6 col-sm-6 px-4">
      <label class="col-12 col-sm-12 control-label">وضعیت فعالیت</label>
      <input type="checkbox" [(ngModel)]="warehouse.status">
    </div>
    <div class="col-6 col-sm-6">
    </div>
  </div>
  <div class="row m-0 mt-3 p-0 col-12 col-sm-12">
    <span style="width: 8rem;">
    <button class="btn btn-primary w-100" (click)="save()">
      ثبت
      <i class="fa fa-save"></i>
    </button>
    </span>
    <span style="width: 8rem;">
    <button class="btn btn-danger w-100">
      بازنشانی
      <i class="fa fa-refresh"></i>
    </button>
    </span>
    <span style="width: 8rem;">
    <button class="btn btn-warning w-100" (click)="switchToGrid()">
      بازگشت
      <i class="fa fa-backspace"></i>
    </button>
    </span>
  </div>
</div>
