<div class="bg-primary">
  <ul class="p-1" style="list-style-type: none">
    <li><a routerLink="/dashboard" class="btn btn-primary mt-1 mb-1 text-start" style="width: 100%">میز کار</a></li>
    <hr>
    <li><a routerLink="/warehouse" class="btn btn-primary mt-1 mb-1 text-start" style="width: 100%">انبار</a></li>
    <li><a routerLink="/person" class="btn btn-primary mt-1 mb-1 text-start" style="width: 100%">کاربران</a></li>
    <li><a routerLink="/ware" class="btn btn-primary mt-1 mb-1 text-start" style="width: 100%">کالا</a></li>
    <li><a routerLink="/warehouseResponsible" class="btn btn-primary mt-1 mb-1 text-start" style="width: 100%">مسئول انبار</a></li>
<!--    <li><a routerLink="/baseInformation" class="btn btn-primary mt-1 mb-1 text-start" style="width: 100%">اطلاعات پایه</a></li>-->
    <hr>
    <li><a></a></li>
    <li><a></a></li>
  </ul>
</div>
