<div class="m-0 p-0">
  <div class="card">
    <header class="bg-light row m-0">
      <h2 class="col-sm-7 lh-4"> {{ title }} {{ warehouseTitle }}</h2>
      <div class="text-end col-sm-5 lh-lg">
        <app-header-tools
          (reloadEmitter)="reload()"
          [showPlus]="false"
          (editModeEmitter)="editMode=$event"
        ></app-header-tools>
      </div>
    </header>
    <article class="">
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr class>
          <th>نام كالا</th>
          <th>نام انبار</th>
          <th>موجودی</th>
          <th>شماره سریال</th>
          <th>تاريخ انقضاء</th>
          <th>شماره قرارداد</th>
<!--          <th></th>-->
        </tr>
        </thead>
        <tbody>
        <tr class="" *ngFor="let warehouseInventory of warehouseInventories">
          <td> {{ warehouseInventory.wareName }}</td>
          <td> {{ warehouseInventory.warehouseTitle }}</td>
          <td> {{ warehouseInventory.inventory }}</td>
          <td> {{ warehouseInventory.serial }}</td>
          <td> {{ warehouseInventory.expirationDate  ? warehouseInventory.expirationDate : 'ندارد' }}</td>
          <td> {{ warehouseInventory.contractNumber }}</td>
        </tr>
        </tbody>
      </table>
<!--      <div class="" *ngIf="editMode">-->
<!--&lt;!&ndash;          [warehouseId]="editLoadId"&ndash;&gt;-->
<!--        <app-warehouse-inventory-edit-->
<!--          (editModeEmitter)="editModeBack($event)"-->
<!--        ></app-warehouse-inventory-edit>-->
<!--      </div>-->
    </article>
  </div>
</div>

