<div class="m-3 p-2">
  <div class="card">
    <header class="bg-light row m-0">
      <h2 class="col-sm-7 lh-4" *ngIf="!editMode; else editModeTitle">{{ title }} {{ wareTitle }}</h2>
      <ng-template #editModeTitle>
        <h2 class="col-sm-7 lh-4">
          تعریف انبار جدید
        </h2>
      </ng-template>
      <div class="text-end col-sm-5 lh-lg">
        <span>
        <app-header-tools
          (editModeEmitter)="editModeBack($event)"
          (reloadEmitter)="reload()"
          [editMode]="editMode"
        ></app-header-tools>
        </span>
      </div>
    </header>
    <article class="">
      <table class="table table-bordered table-striped table-hover"
             *ngIf="!editMode">
        <thead>
        <tr class>
          <th>نام کالا</th>
          <th>نوع کالا</th>
          <th>واحد</th>
          <th>وضعیت</th>
          <th>عملیات</th>
        </tr>
        </thead>
        <tbody>
        <tr class="" *ngFor="let ware of wares"
            (dblclick)="switchToEditMode(ware.id)">
          <td> {{ ware.name }}</td>
          <td> {{ ware.typeTitle }}</td>
          <td> {{ ware.unitTitle }}</td>
          <!--          <td> {{ ware.location }}</td>-->
          <td *ngIf="ware.status; else deactive"> فعال</td>
          <ng-template #deactive>
            <td> غیر فعال</td>
          </ng-template>
          <td>
            <i class="fa fa-trash text-danger" (click)="deleteWare(ware)"></i>&nbsp;
            <!--            <i class="fa fa-arrow-up text-info" (click)="importWare(warehouse)"></i>&nbsp;-->
            <!--            <i class="fa fa-arrow-down text-danger" (click)="exportWare(warehouse)"></i>-->
          </td>
        </tr>
        </tbody>
      </table>
      <div class="" *ngIf="editMode">
        <app-ware-edit
          [wareId]="editLoadId"
          (editModeEmitter)="editModeBack($event)"
        ></app-ware-edit>
      </div>
    </article>
  </div>
</div>
