<div class="row m-0 p-0 bg-white col-sm-12 col-12">
  <div class="row m-0 mt-5 mb-3 p-0 col-12-col-sm-12">
    <div class="col-sm-2 col-2">
      <button type="button"
              (click)="buttonClicked('save')"
              class="btn btn-primary w-100">ذخیره</button>
    </div>
    <div class="col-sm-2 col-2">
      <button type="button"
              (click)="buttonClicked('reload')"
              class="btn btn-warning w-100">بازنشانی</button>
    </div>
    <div class="col-sm-2 col-2">
      <button type="button"
              (click)="buttonClicked('return')"
              class="btn btn-danger w-100">بازگشت</button>
    </div>
  </div>
</div>
